[Unit]
Description=OpenStack

[Service]
User=stack
Group=stack
WorkingDirectory=$TEMPLATECLOUD_DIR
ExecStart=/usr/bin/python3 $TEMPLATECLOUD_DIR/start.py

Restart=always
RestartSec=5

[Install]
WantedBy=default.target