[Unit]
Description=OpenStack

[Service]
User=stack
Group=stack
WorkingDirectory=/home/ostack/openstack/templateCloud/devstack
ExecStart=/usr/bin/python3 /home/ostack/openstack/templateCloud/devstack/start.py

Restart=always
RestartSec=5

[Install]
WantedBy=default.target